<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <span>{ <i class="fas fa-server"></i> }</span> SQLBattle
        </a>
        <div class="navbar-brand-next">/</div>
        <div class="navbar-brand-battles nav-item dropdown">
            <div class="nav-link dropdown-toggle" role="button"
                 data-bs-toggle="dropdown" aria-expanded="false">
                Battles
            </div>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                    <div class="anchor nav-dropdown-battles">Loading...</div>
                </li>
            </ul>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <button class="btn btn-info btn-update hidden">
                        Update <i class="fas fa-cloud-download-alt"></i>
                    </button>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        How 2 play
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>Loading...</li>
                    </ul>
                </li>
                <li class="nav-item" id="nav-user">
                    <a class="nav-link" href="/signup">Sign in / up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
