{% set title = 'Battels' %}
{% set desc = 'SQLBattles are challenges to make a query in the least amount of characters and gain a score for doing so.' %}
{% set csss = ['/css/content.css'] %}
{% set jss = ['/js/homepage.js'] %}
{% include ".html.twig" %}

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col welcome">
                <div class="shadow-1">
                    <h1>SQLBattle, challenge your own SQL knowledge and skills</h1>
                    <article>
                        Welcome to SQLBattle!
                        Here we have a number of challenges where the goal is to make the shortest
                        as possible solution that still matches the goal assigned.
                        <br>
                        Showoff your skills by submitting your solutions and try to become the highest player on the leaderboard!
                    </article>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col battles">
                <div class="shadow-1">
                    <h2>Battles</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <h3>About Us</h3>
                            <div class="shadow-1 shadow-fill">
                                <h3>Planning</h3>
                                <p>
                                    Every week there will be a new challenge online. <br>
                                    With different aspects of SQL knowledge, datasets and solutions. <br>
                                    The challenge, which you can try, is to
                                    come up with the shortest answer possible so you get the most points every week.<br>
                                    Every challenge has its own top 3, but don't worry, 
                                    your scores are also combined into one big leaderboard so you can compare with your friends.
                                </p>
                            </div>
                            <div class="shadow-1 shadow-fill">
                                <h3>People online</h3>
                                <div class="users-online">
                                    <span>&#x1F525;</span>
                                    <article>
                                        <div class="anchor users-online">Loading...</div>
                                    </article>
                                    <sub>Players Online</sub>
                                </div>
                            </div>
                            <div class="shadow-1 shadow-fill">
                                <h3>Created by</h3>
                                <p>
                                    Created with help by the power of open-source and from its community, SQLBattle is now
                                    online and so you can play all the battles.<br>
                                    <br>
                                    Special thanks to <!-- Sorted by firstname alphabetically-->
                                    <a href="https://gitlab.com/1II1">1II1</a>,
                                    <a href="https://gitlab.com/Faab007">Faab007</a>,
                                    <a href="https://gitlab.com/Lee_Lenaleee">Lee_Lenaleee</a>,
                                    <a href="https://gitlab.com/RagbeccaPlebs">RagbeccaPlebs</a>,
                                    <a href="https://gitlab.com/UnderKoen">UnderKoen</a>,
                                    and
                                    <a href="https://gitlab.com/MaxMiddendorp">MaxMiddendorp</a>
                                    for helping out!<br>
                                    <br>
                                    <a href="https://gitlab.com/MKTC/sqlbattle.dev">
                                        Contribute on GitLab
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h3 class="challenge-title">Latest battles</h3>
                            <div class="anchor challenges-latest"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col beginner">
                <div class="shadow-1">
                    <h2>New here?</h2>
                    <p>
                        Show your SQL skills! Combine multiple queries into an solution with the smallest possible code.
                        <br>
                        We have ordered the challenges here in reverse, so the oldest / easiest challenges are first
                    </p>
                    <div class="anchor challenges-newfirst"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include ".footer.twig" %}
