{% set title = 'Signup' %}
{% set desc = 'For saving and getting a score, please log in to SQLBattles' %}
{% set csss = ['/css/content.css'] %}
{% set jss = ['/js/login.js'] %}
{% include ".html.twig" %}

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col welcome">
                <div>
                    <h1>Welcome to SQLBattle!</h1>
                    <article>Login or Register below</article>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div>
                    <h2>Login</h2>
                    <form onsubmit="return signInOrUp(this, 'login')">
                        <div class="alert alert-danger hidden" role="alert"></div>
                        <div class="mb-3">
                            <label for="login-username" class="form-label">Username</label>
                            <input type="text" pattern="[A-Za-z0-9]{1,128}" autocomplete="nickname" class="form-control"
                                   id="login-username" aria-describedby="login-username-help">
                            <div id="login-username-help" class="form-text">
                                Use at least one character and only alphanumeric characters
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="login-password" class="form-label">Password</label>
                            <input type="password" autocomplete="password" class="form-control" id="login-password"
                                   aria-describedby="login-password-help">
                            <div id="login-password-help" class="form-text">
                                Use at least 4 characters for your password
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div>
                    <h2>Register</h2>
                    <form onsubmit="return signInOrUp(this, 'register')">
                        <div class="alert alert-danger hidden" role="alert"></div>
                        <div class="mb-3">
                            <label for="register-username" class="form-label">Username</label>
                            <input type="text" pattern="[A-Za-z0-9]{1,128}" autocomplete="nickname" class="form-control"
                                   id="register-username" aria-describedby="register-username-help">
                            <div id="register-username-help" class="form-text">
                                Use at least one character and only alphanumeric characters
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="register-password" class="form-label">Password</label>
                            <input type="password" pattern=".{4,256}" autocomplete="new-password" class="form-control"
                                   id="register-password" aria-describedby="register-password-help">
                            <div id="register-password-help" class="form-text">
                                Use at least 4 characters for your password
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% include ".footer.twig" %}